
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    <th>Price</th>
    <th>Image</th>
    </tr>
  </thead>
  <tbody>
  <% @menuitems.each do |f| %>
    <tr>
      <td><%= f.name %></td>
      <td><%= f.description %></td>
      <td>$<%= f.price %></td>
      <td><%= image_tag f.image.url(:regular) %></td>
      <td><%= link_to 'Destroy', restaurant_menuitem_path(f), :method => :delete, :class => 'btn btn-danger' %>
      <%= link_to 'Edit', edit_restaurant_menuitem_path(f), :class => 'btn btn-success'%></td>
    </tr>
  <% end %>
  </tbody>
</table>

