<div class="row">
  <div class="grid_4 offset_4">
    <% if @restaurant.menuitems %>
      <h1>Add a new dish</h1>
    <% else %>
      <h1>Add your first Dish</h1>
    <% end %>
    <%= form_for @menuitem, :html => { :multipart => true } do |f| %>
      <%= f.label :name %><br/>
      <%= f.text_field :name %><br/>
      <%= f.label :description %><br/>
      <%= f.text_field :description %><br/>
      <%= f.label :image %><br/>
      <%= f.file_field :image %><br/>
      <%= f.label :price %><br/>
      <%= f.text_field :price %><br/>
      <%= f.submit 'Add Item', :class => 'btn btn-large btn-success' %>
    <% end %>
  </div>
</div>