<h1>Set Your Restaurant Hours</h1><br/>

<%= form_for hour, :url => { :action => "update" }, :html => { :method => 'put' } do |f| %>
  <div class="row-fluid">
    <div class="span3 hours_input" style="margin:0 auto;">
      <h3>Monday</h3>
      From
      <%= f.text_field :from_monday, :class => 'span20 hour_field'  %>
      To
      <%= f.text_field :to_monday, :ignore_date => true, :class => 'span20 hour_field'  %>
    </div>
    <div class="span3 hours_input">
      <h3>Tuesday</h3>
      From
      <%= f.text_field :from_tuesday, :class => 'span20 hour_field' %>
      To
      <%= f.text_field :to_tuesday, :class => 'span20 hour_field'  %>
    </div>
    <div class="span3 hours_input">
      <h3>Wednesday</h3>
      From
      <%= f.text_field :from_wednesday, :class => 'span20 hour_field'  %>
      To
      <%= f.text_field :to_wednesday, :class => 'span20 hour_field'  %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3 hours_input">
      <h3>Thursday</h3>
      From
      <%= f.text_field :from_thursday, :class => 'span20 hour_field'  %>
      To
      <%= f.text_field :to_thursday, :class => 'span20 hour_field'  %>
    </div>
    <div class="span3 hours_input">
      <h3>Friday</h3>
      From
      <%= f.text_field :from_friday, :class => 'span20 hour_field'  %>
      To
      <%= f.text_field :to_friday, :class => 'span20 hour_field'  %>
    </div>
    <div class="span3 hours_input">
      <h3>Saturday</h3>
      From
      <%= f.text_field :from_saturday, :class => 'span20 hour_field'  %>
      To
      <%= f.text_field :to_saturday, :class => 'span20 hour_field'  %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3 hours_input">
      <h3>Sunday</h3>
      From
      <%= f.text_field :from_sunday, :class => 'span20 hour_field'  %>
      To
      <%= f.text_field :to_sunday, :class => 'span20 hour_field'  %>
    </div><br/>
    <div class="span3">
      <%= f.submit 'Set Hours', :class => 'btn btn-success btn-large' %>
    </div>
  </div>
<% end %>