<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.description %></p>


<% if @restaurant.menuitems == [] %>
  <p>Add your first: <%= link_to 'Dish', new_restaurant_menuitem_path(@restaurant) %> |</p>
<% else %>
  <p>
    <%= link_to 'Add Dish', new_restaurant_menuitem_path(@restaurant) %> |
    <%= link_to 'Set Hours', edit_restaurant_hour_path(@restaurant)%>
  </p>
<% end %>
<div class="row-fluid">
  <div class="span5">
  <% if @restaurant.hour %>
      Monday:
        <%= @restaurant.hour.from_monday %> -
        <%= @restaurant.hour.to_monday %><br/>
      Tuesday:
        <%= @restaurant.hour.from_tuesday %> -
        <%= @restaurant.hour.to_tuesday %><br/>
      Wednesday:
        <%= @restaurant.hour.from_wednesday %> -
        <%= @restaurant.hour.to_wednesday %><br/>
      Thursday:
        <%= @restaurant.hour.from_thursday %> -
        <%= @restaurant.hour.to_thursday %><br/>
      Friday:
        <%= @restaurant.hour.from_friday %> -
        <%= @restaurant.hour.to_friday %><br/>
      Saturday:
        <%= @restaurant.hour.from_saturday %> -
        <%= @restaurant.hour.to_saturday %><br/>
      Sunday:
        <%= @restaurant.hour.from_sunday %> -
        <%= @restaurant.hour.to_sunday %><br/>
    <% end %>
  </div>
  <div class="span6">
    <h1>Map goes here</h1>
  </div>
</div>


<% if @restaurant.menuitems.any? %>
  <div class="row-fluid">
    <div class="span12">
      <h1>Menu</h1>
      <% @restaurant.menuitems.each do |menuitem|%>
      <div class="row-fluid">
          <div class="span4"><b><%= menuitem.name %></b></div>
          <div class="span5"><%= menuitem.description %></div>
          <div class="span3"><%= menuitem.price %></div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>

<br/>
<footer>
  <p>&copy; <%= @restaurant.name %> 2012</p>
</footer>

