<div class="row">
  <div class="span6">
    <h1><%= @restaurant.name %></h1>
    <% if current_user %>
      <% if current_user == @restaurant.user %>
        <%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant), :class => 'btn btn-success' %>
      <% end %>
    <% end %>
    <p><%= @restaurant.description %></p>
    <!-- Restaurant Hours -->
    <% if @restaurant.hour.from_monday %>
      <span id="0">
      Mon:
        <%= @restaurant.hour.from_monday %> -
        <%= @restaurant.hour.to_monday %>
      </span>
      <span id="1">
      Tue:
        <%= @restaurant.hour.from_tuesday %> -
        <%= @restaurant.hour.to_tuesday %>
      </span>
      <span id="2">
      Wed:
        <%= @restaurant.hour.from_wednesday %> -
        <%= @restaurant.hour.to_wednesday %>
      </span>
      <span id="3">
      Thur:
        <%= @restaurant.hour.from_thursday %> -
        <%= @restaurant.hour.to_thursday %>
      </span>
      <span id="4">
      Fri:
        <%= @restaurant.hour.from_friday %> -
        <%= @restaurant.hour.to_friday %>
      </span>
      <span id="5">
      Sat:
        <%= @restaurant.hour.from_saturday %> -
        <%= @restaurant.hour.to_saturday %>
      </span>
      <span id="6">
      Sun:
        <%= @restaurant.hour.from_sunday %> -
        <%= @restaurant.hour.to_sunday %>
      </span>
    <% else %>
      <!-- empty -->
    <% end %>
  </div>
  <div class="span6">
    <div id="map_canvas" style="float:left; width:100%; height:260px"></div>
  </div>
</div>
<br/>

<br/>
<% if current_user %>
  <% if current_user == @restaurant.user %>
    <%= link_to 'Set Address', edit_restaurant_location_path(@restaurant), :class => 'btn btn-success' %>
    <%= link_to 'Set Hours', edit_restaurant_hour_path(@restaurant), :class => 'btn btn-success' %>
    <%= link_to 'Add Dish', new_restaurant_menuitem_path(@restaurant), :class => 'btn btn-success' %>
  <% end %>
<% else %>
<!-- Empty -->
<% end %>

<div class="menu">
  <% @restaurant.menuitems.each_slice(2) do |two| %>
    <div class="row">
    <% two.each do |f| %>
      <div class="span6">
      <%= image_tag f.image.url(:regular) %> <br/>
      <% if current_user %>
        <% if current_user == @restaurant.user %>
          <%= link_to 'Edit', edit_restaurant_menuitem_path(@restaurant, f), :class => 'btn' %>
          <%= button_to 'Delete', restaurant_menuitem_path(@restaurant, f), :method => :delete, :class => 'btn' %>
        <% end %>
      <% end %>
        <h2><%= f.name %> $<%= f.price %></h2>
        <p><%= f.description %></p>
        </div>
    <% end %>
    </div>
  <% end %>

<footer>
  <p>&copy; <%= @restaurant.name %> 2012</p>
</footer>

<script type="text/javascript"
  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB8e-E_K2jDpnfUl3az_681ype6TfDLjjk&sensor=true">
</script>
<script type="text/javascript">
$(document).ready(function() {
  function initialize() {
    var latlng = new google.maps.LatLng(<%= @restaurant.location.latitude %>, <%= @restaurant.location.longitude %>)
    var mapOptions = {
      draggable: true,
      zoomControl: false,
      scrollwheel: false,
      disableDoubleClickZoom: true,
      center: latlng,
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
      };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
      mapOptions);
    var image = new google.maps.MarkerImage('/assets/treasure-mark.png',
      new google.maps.Size(129, 42),
      new google.maps.Point(0,0),
      new google.maps.Point(18, 42)
    );
    var marker1 = new google.maps.Marker({
      position: new google.maps.LatLng(<%= @restaurant.location.latitude %>, <%= @restaurant.location.longitude %>),
      map: map,
      icon: image // This path is the custom pin to be shown. Remove this line and the proceeding comma to use default pin
    });
  }
  initialize();
});

  (function() {
    var d = new Date();
    var n = d.getDay();

    document.getElementById(n).style.font-weight="bold";
  })();


</script>